In [2]:
import argparse, os, sys
from time import time
import pandas as pd 
from sqlalchemy import create_engine


def main(params):
    user = params.user
    password = params.password
    host = params.host
    port = params.port
    db = params.db
    table_name1 = params.table_name1
    table_name2 = params.table_name2
    url1 = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz'
    url2 = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'
    csv2 = 'zones.csv'

    if url1.endswith('.csv.gz'):
        csv1 = 'trips.csv.gz'
    else:
        csv1 = 'trips.csv'

    # download the CSV files from website
    os.system(f"wget {url1} -O {csv1}")  
    os.system(f"wget {url2} -O {csv2}")
    print(f'download success')
    # Create SQL engine
    engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

NameError: name 'user' is not defined

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.0,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0